/* Main Stylesheet */

body
	{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #FFFFFF; 
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px; 
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px
	}
th
	{
	color: #1F375A;
	font-weight: bold;
	font-size: 10px;
	}
p,ul
	{
	font-size: 10px;
	}
	
p.about
	{
	font-size: 10px;
	padding: 2px;
	color: #000000;
	font-weight: normal;
	}
	
a:link, a:visited, a:active
	{
	color: #FF6633; 
	text-decoration: none;
	font-size: 10px;
	}
a:hover
	{
	color: #FF6633; 
	text-decoration: none;
	}
input, button, select, textarea
	{
	background: #FFFFFF;
	color: #000000;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
.checkbox
	{
	background: #E6E9ED;
	}

/* MAIN */

tr.pgheader
	{
	background-color: #203759;
	}
	
table.select, table.report, table.settings
	{
	border: 1px #A2ACBB solid;
	}
	
tr.pgfooter
	{
	background-color: #203759;
	}
tr.pgbottom
	{
	background-color: #E6E9ED;
	}
.about
	{
	background-color: #E6E9ED;
	font-size: 9px;
	}
	
table.login 
	{
	border: 1px #203759 solid;
	background-color: #E6E9ED;
	}
	
table.text
	{
	font-size: 9px;
	}
	
/* SELECTORS */
	
.header
	{
	background-color: #A2ACBB;
	color: #FFFFFF; 
	font-size: 11px; 
	font-weight: bold;
	}
	
.chooser
	{
	background-color: #E6E9ED;
	color: #1F375A; 
	font-size: 10px; 
	font-weight: bold;
	}

.chtitle
	{
	color: #1F375A;
	font-size: 10px;
	font-weight: bold;
	}
a:link.chitem, a:visited.chitem, a:active.chitem
	{
	color: #000000; 
	text-decoration: none;
	}
a:hover.chitem
	{
	color: #FF6633; 
	text-decoration: none;
	}
a:link.chtitle, a:visited.chtitle, a:active.chtitle
	{
	color: #1F375A; 
	text-decoration: none;
	font-weight: bold;
	}
a:hover.chtitle
	{
	color: #FF6633; 
	text-decoration: none;
	font-weight: bold;
	}
.chitem
	{
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	}
.chselected
	{
	color: #FF6633; 
	font-size: 10px;
	font-weight: bold;
	}
	
/* REPORTS */
.name
	{
	color: #1F375A; 
	font-size: 12px; 
	font-weight: bold; 
	padding-right: 30px;
	}

.description
	{
	color: white; 
	font-size: 11px; 
	font-weight: bold; 
	padding-right: 10px;
	}

.report, .settings
	{
	font-size: 10px;
	background-color: #E6E9ED;
	}
	
.data
	{
	font-size: 10px;
	background-color: #C5CBD4;
	}
a:hover.data, a:link.data, a:visited.data, a:active.data
	{
	color: #000000; 
	text-decoration: none;
	background-color: none;
	}	
.dataalt
	{
	font-size: 10px;
	font-weight: normal;
	}
a:hover.dataalt, a:link.dataalt, a:visited.dataalt, a:active.dataalt
	{
	color: #000000; 
	text-decoration: none;
	background-color: none;
	}
.total
	{
	font-size: 11px;
	font-weight: bold;
	}
.graphdata
	{
	background-color: #51637E;
	}
.graphdataalt
	{
	background-color: #818EA2;
	}
.nodata
	{
	font-size: 9px;
	padding: 20px;
	}
p.error
	{
	color: #FC7218;
	font-weight: bold;
	}
	
/* MISC ITEMS */

.sitename
	{
	color: #1F375A; 
	font-size: 10px; 
	font-weight: bold; 
	padding: 10 px;
	padding-left: 10px;
	}
.version
	{
	color: #1F375A; 
	font-size: 10px; 
	font-weight: normal; 
	padding: 10 px;
	}
.copyright
	{
	color: #FFFFFF; 
	font-size: 9px;
	}
.success
	{
	color: Green; 
	font-weight: bold; 
	}
.failed
	{
	color: Red; 
	font-weight: bold; 
	}
li
	{
	padding:2px; 
	}